<footer class="site-footer h-card">


  <div class="wrapper">

    <h2 class="footer-heading">Internet Society <br> Community Networks SIG</h2>
 
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {{ site.description | escape }}
      </div>
      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
            {% if site.email %}
            <li>. <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            <li>. <a href="/feed.xml">news via RSS</a></li>
	    <li>. <a href="https://portal.isoc.org/join/chapter">join the CNSIG</a></li>
	    <li>. <a href="assets/CNSIG-Bylaws_v1.1.pdf">CNSIG Bylaws</a></li>
        </ul>
        {%- include social.html -%}
      </div>
    </div>

</footer>
