---
---

@import "{{ site.theme }}";

.site-header {
  background-color: #0c1c2c;
  color: white;
}
.site-nav{
  background-color: #0c1c2c;
}

.site-footer {
//  border-top: 1px solid $grey-color-light;
//  padding: $spacing-unit 0;
  background-image: url('/assets/img/header-isoc.png');
}

.footer-heading {
  color: #d2d2d2;
}

.footer-col-wrapper {
  color: #b2b2b2;
}

.footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

