---
---

@import "{{ site.theme }}";

.site-header {
  background-color: #0c1c2c;
  color: white;
}

.site-nav{
  background-color: #0c1c2c;
}

.page-content {
  background-color: #e9e6df;
  padding: 0;
}

.page-content .wrapper {
  background-color: #efede8;
  padding: 20px;
}

.site-footer {
  background-image: url('/assets/img/header-isoc.png');
}

.footer-heading {
  color: #d2d2d2;
}

.footer-col-wrapper {
  color: #b2b2b2;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.site-footer a:hover {
    color: white;
    text-decoration: none;
}

.footer-col-1 {
  width: -webkit-calc(55% - (#{$spacing-unit} / 2));
  width:         calc(55% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.post-title {
  @include relative-font-size(2.1);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.9);
  }
}

.post-content h2 {
    @include relative-font-size(1.75);

    @include media-query($on-laptop) {
      @include relative-font-size(1.55);
    }
}

.post img {
    background-color: white;
    padding: 7pt;
    border-radius: 8px;
}


